/* Our font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/**/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Poppins'
}

body{
    height: 100vh;
    background-color:#D3E1E1
}
/*receipt*/
.receipt{
    width:360px;
    height:620px;
    background-color:rgb(236, 203, 199);
    border-radius:30px;
    position:relative;
    top:50%;
    left:50%;
    margin-top: -360;
    margin-left: -180;
    box-shadow:14px 14px 22px -18px;
    padding: 20px;
}
/*Heading*/
.name{
    text-transform: uppercase;
    text-align: center;
    color: rgb(230, 124, 26);
    letter-spacing:10px;
    font-size: 1.8em;
    margin-top: 10px;
}
/*Big thank*/
.greeting {
    /* font-size:21px; */
    /* text-transform: capitalize; */
    text-align: center;
    color: #3a3121;
    margin:35px 0;
    letter-spacing: 1.2;
}
/*our info*/
.order p{
    font-size:13px;
    color: rgb(48, 27, 27);
    padding-left: .7px
}
 /*our line*/


hr{
    border: .7px solid rgb(34, 24, 24);
    margin: 15px 0;
}
/* order details */
.details{
    padding-left: 10px;
    margin-bottom: 35px;
    overflow: hidden;

}

.details{
    font-weight: 400;
    color: #314647;
    font-size: 1.5em;
    margin-bottom:15px

}
/*image*/
.product{
    float: left;
    width: 83%;
}
.product img {
    width: 65px;
    float: left;
}
.product .info{
    float:left;
    margin-left: 15px;
}

.product .info h4 {
    color: 6f8d90;
    font-weight:400;
    text-transform:uppercase;
    margin-top:10px
}

.product.info p {
    font-size:12px;
    color: rgb(61, 36, 36);
}
.details > p {
    color:#6f8d90;
}

.totalprice p {
    padding-left:10px;
}
.totalprice .sub,
.totalprice .del{
    font-size:13px;
    color: #aaa;
}
.totalprice span{
    float:right;
    margin-right: 17px;
}
.totalprice .to{
    color: #6f8d90;
    font-size:15px
}
/* footer */
footer{
    font-size:10px;
    text-align:center;
    margin-top:135px;
    color:#aaa
}

.rec-btn{
    background-color: #d47434;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-size: bold;
    border-color: white;
    /* position:center; */

}







